
@{
    ViewBag.Title = "Index";
}
<h2>Крестики-нолики</h2>
<div name="CommandPanel" style="overflow: hidden; position: relative;">
    <div style="float: left;">
        <input type="button" name="NewGameButton" value="Новая игра" class="btn btn-default">
    </div>
    <div style="margin: 10px 10px 10px 10px; float: left;">
        Играть:
        <select name="PlayerChoice">
            <option value=1>Крестиками</option>
            <option value=2>Ноликами</option>
        </select>
        <select name="GameMode">
            <option value=0>С компьютером</option>
            <option value=1>С другим игроком</option>
        </select>
    </div>
</div>

<div>
    <input type="button" name="JoinGameButton" value="Присоединиться к игре" class="btn btn-default">
    <input type="button" name="InviteButton" value="Пригласить партнера в игру" class="btn btn-default" disabled>
</div>

<div id="gameboard_div" style="margin: 10px 10px 10px 10px;">
</div>

<div id="gameinfo_div">
</div>

<script>
    System.import(hostPath + '/Scripts/app/app.js');
</script>
